<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>IoTカレンダーのログインページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>ログインページ</h1>

<!--Flaskの命令をHTMLに埋め込み（withは変数作成に必要、フラッシュメッセージのカテゴリ名も取得）-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    <!-- フラッシュメッセージを表示（for関数でメッセージとカテゴリを取出し、ブラウザに表示されるリストのクラスにカテゴリを適用・CSSで色付け）-->
    {% for category, message in messages %}
    <li class="{{category}}">
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- HTMLだけでform送信 -->
<form action="/action/login" method="POST">
    <label>ID</label><br>
    <input type="text" name="user_id" required maxlength="50"><br><br>

    <label>パスワード</label><br>
    <input type="password" name="password" required maxlength="50"><br><br>

    <button type="submit">ログイン</button>
</form>

<p>
    <a href="/register">新規登録はこちら</a>
</p>

</body>
</html>